---
---

@import "nav";
@import "colors";
@import "header";

html, body  {
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 12px;
}

.title h1 {
  font-weight: 400;
  font-size: 26px;
}

p {
  line-height: 1.4rem;
}


//Grid
.grid {
  display: grid;

  margin: auto;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}


//About

.about {
  height: 100vh;
  width: 100%;
  background: url('{{ "/img/about_bg.jpg" | relative_url }}') 50% 35% / 145%;
}

.a {
  grid-area: 3 / 5 / 11 / 11;
}

.b {
  grid-area: 4 / 4 / 5 / 7;
  margin-left: 30px;

}

.c {
  grid-area: 6 / 2 / 11 / 6;
  margin-left: 30px;
  margin-right: 30px;
}


//Skills

.skills {
  height: 100vh;
  width: 100%;
  background: linear-gradient($gradient-aqua, $gradient-purple);
  h3 {
    text-transform: uppercase;
    font-weight: 400;
  }
  li {
    display: block;
    text-align: left;
    margin-left: 10px;
    line-height: 1.4rem;
  }
}

.e {
  grid-area: 4 / 4 / 5  / 7;
  margin-left: 30px;
}

.skill-des {
  grid-area: 5 / 5 / 6 / 7;
}

.skill-dev {
  grid-area: 5 / 8 / 6 / 10;
}


//Work

.work {
  height: 100vh;
  width: 100%;
  background: url('{{ "/img/work_bg.jpg" | relative_url }}') 50% 28% / 100%;
}

.a {
  grid-area: 3 / 5 / 11 / 11;
}

.b {
  grid-area: 4 / 4 / 5 / 7;
  margin-left: 30px;

}

.c {
  grid-area: 6 / 2 / 11 / 6;
  margin-left: 30px;
  margin-right: 30px;
}


// Contact

.contact {
  height: 100vh;
  width: 100%;
  background: linear-gradient($gradient-yellow, $gradient-green);
  h3 {
    text-transform: uppercase;
    font-weight: 400;
  }
  li {
    display: block;
    text-align: left;
    margin-left: 10px;
    line-height: 1.4rem;
  }
}


//New menu

.nav {
  width: 100%;
  height:75px;
  background-color: rgba(0, 0, 0, 1);
  background-color:rgba(4, 180, 49, 0.6);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
.light-menu {
  width: 100%;
  height: 75px;
  background-color: rgba(255, 255, 255, 255);
  position: fixed;
  background-color:rgba(4, 180, 49, 0.6);
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#menu {
  width: 980px;
  height: 75px;
  margin: 0 auto;
}
#menu ul {
  margin: 0 0 0 0;
}
#menu ul li a{
  padding: 32px 40px;
}
#menu ul li {
  list-style: none;
  margin: 0 0 0 -4px;
  display: inline;

}
.active, #menu ul li a:hover  {
  font-family:'Droid Sans', serif;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  line-height: 50px;
background-color: rgba(0, 0, 0, 0.12);
padding: 32px 40px;

}
a {
  font-family:'Droid Sans', serif;
  font-size: 14px;
  color: black;
  text-decoration: none;
  line-height: 72px;
}


.fix{
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:0;
}


// #home {
//   background-color: #286090;
//   height: 100vh;
//   width: 100%;
//   overflow: hidden;
// }
// #portfolio {
//   background: gray;
//   height: 100vh;
//   width: 100%;
// }
// #about {
//   background-color: blue;
//   height: 100vh;
//   width: 100%;
// }
// #contact {
//   background-color: rgb(154, 45, 45);
//   height: 100vh;
//   width: 100%;
// }