---
---

@import "nav";
@import "colors";
@import "header";

html, body  {
  margin: 0 auto;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 14px;
}

.title h1 {
  font-weight: 400;
  font-size: 26px;
}

p {
  line-height: 1.5rem;
}


//Header
.header p {
  margin-top: 0px;
}


//Grid
.grid {
  display: grid;

  margin: auto;
  grid-template: repeat(12, 1fr) / repeat(12, 1fr);
}


//About
.about {
  height: 100vh;
  width: 100%;
  background: url('{{ "/img/about_bg.jpg" | relative_url }}') 50% 35% / 145%;
}

.a {
  grid-area: 4 / 6 / 12 / 12;
}

.b {
  grid-area: 4 / 5 / 5 / 8;
}

.c {
  grid-area: 6 / 3 / 11 / 7;
  margin-left: 30px;
  margin-right: 30px;
}


//Skills
.skills {
  height: 100vh;
  width: 100%;
  background: linear-gradient($gradient-aqua, $gradient-purple);
  h3 {
    text-transform: uppercase;
    font-weight: 400;
  }
  li {
    display: block;
    text-align: left;
    margin-left: 10px;
    line-height: 1.5rem;
  }
}

.d {
  grid-area: 4 / 5 / 5  / 7;
}

.skill-des {
  grid-area: 6 / 5 / 11 / 7;
}

.skill-dev {
  grid-area: 6 / 8 / 15 / 111;
}


//Work
.work {
  height: 100vh;
  width: 100%;
  background: url('{{ "/img/work_bg.jpg" | relative_url }}') 50% 28% / 100%;
  h2 {
    font-weight: 400;
    font-size: 18px;
  }
}

.e {
  grid-area: 4 / 6 / 12 / 12;
}

.f {
  grid-area: 4 / 5 / 5 / 8;

}

.g {
  grid-area: 6 / 3 / 11 / 5;
  margin-left: 30px;
  ul {
    padding: 5px 0px;
  }
  li {
    display: block;
    text-align: left;
    line-height: 1.5rem;
    font-weight: 700;
  }
}

.h {
  grid-area: 6 / 6 / 8 / 9;
  padding-left: 10px;
  margin-top: -3px;
  a {
    color: white;
    text-decoration: none;
    padding-bottom: 3px;
    & span {
      visibility: hidden;
      position: relative;
      top: 1px;
      margin-left: 5px;
    }
    &:hover span {
      visibility: visible;
    }
  }
}

// Contact
.contact {
  height: 100vh;
  width: 100%;
  background: linear-gradient($gradient-yellow, $gradient-green);
  h3 {
    text-transform: uppercase;
    font-weight: 400;
  }
  li {
    display: block;
    text-align: left;
    margin-left: 10px;
    line-height: 1.4rem;
  }
}

.i {
  font-style: italic;
  font-size: 16px;
  grid-area: 2 / 9 / 3 / 11;
  a {
    color: white;
    text-decoration: none;
  }
}

.j {
  grid-area: 4 / 5 / 4 / 7;
}


//Contact form
.contact-form {
  grid-area: 5 / 5 / 10 / 9;
  margin-top: 20px;
}

.contact-input {
  margin-right: 26px;
}

.contact-control {
  width: 100%;
  height: 36px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: rgba(255,255,255,0.8);
  border: 1px solid white;
  font-family: 'Raleway', sans-serif;
  &.contact-control.msg {
    height: 70px;
    padding-top: 10px;
  }
}

.contact-btn {
  padding: 20px 40px;
  background: none;
  border: 1px solid white;
  color: white;
  font-size: 14px;
  text-transform: uppercase;
  float: right;
  cursor: pointer;
  &:hover {
    background-color: rgba(255,255,255,0.2);
  }
}

//Contact form label animation
label {
  position:relative;
  color: rgba($black, .5 );
  top: -2.4em;
  left: 1em;
  transition:none;
  &.msg {
    top: -5.6em;
  }
}

input:valid + label,
textarea:valid + label,
 {
  left: -6em;
  transition:all 0ms ease;
  transition-property: color;
  color: white;
}

input:valid:focus + label,
textarea:valid:focus + label {
  color: white;
}

//Menu
.nav-wrapper {
  height: 75px !important;
}

.nav {
  width: 100%;
  height:75px;
  background-color: rgba(0, 0, 0, 1);
  background-color:white;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 999;
}

#menu {
  height: 75px;
  margin: 0 auto;
  ul {
    padding-top: 30px;
    margin: 0 auto;
  }
  li {
    list-style: none;
    margin: 0 0 0 -4px;
    display: inline;
  }
  a {
    color: $black;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0px 40px;
    font-size: 12px;
    &:hover {
      border-bottom: 3px solid $aqua;
    }
  }
}

.active {
  border-bottom: 3px solid $aqua;
}

.logo-fix > img {
  position: absolute;
  opacity:0;
  float: left;
  width: 50px;
  padding:14px 35px;
}

.fix{
  position:fixed;
  top:0;
  left:0;
  right:0;
  margin:0;
}

//Footer
.footer {
  height: 130px;
  color: $black;
  text-align: center;
  p {
    padding-top:25px;
  }
  a {
    color: $aqua;
    text-decoration: none;
  }
}

.social {
  color: $aqua;
  i {
  margin-right: 20px;
  margin-top:10px;
  }
}

.anchor {
  padding-top: 50px;
  margin-top: -50px;
}