<nav>
    <ul>
      <li><a href="{{ "index.html#about" | relative_url }}" class="{% if page.url == '/index.html#about' %}current{% endif %}">About</a></li>
      <li><a href="{{ "index.html#skills" | relative_url }}" class="{% if page.url == '/index.html#skills' %}current{% endif %}">Skills</a></li>
      <li><a href="{{ "linkto.html" | relative_url }}" class="{% if page.url == '/linkto.html' %}current{% endif %}">Contact</a></li>
      <li><a href="{{ "/index.html" | relative_url }}">Work</a></li>
    </ul>
</nav>